<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
    <div class="cont">
    <form action="/CreateUser", method="POST" class="signup-form" id="signup-form">
        <h2>회원가입</h2>
        <div>
            <input type="text" id="username" name="username" placeholder="아이디" required>
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="비밀번호" required>
        </div>
        <div>
            <input type="text" id="name" name="name" placeholder="이름" required>
        </div>
        <button type="submit">가입하기</button>
    </form>
</div>
</body>
</html>