<div class="nav" th:fragment="navbar">
    <a class="logo" href="/">HyoTechMall</a>
    <a href="/list/page/1">상품 목록</a>
    <a href="/info">공지사항</a>

    <div th:if="${userLevel != null and 2 >= userLevel}">
        <a href="/order/all">주문 내역</a>
        <a href="/write">상품 등록</a>
    </div>

    <div class="right">
        <div th:if="${userLevel == null and ROLE == null}">
            <a href="/login"><img src="/images/login-icon.png" alt="Login Icon" width="50" height="50"></a>
        </div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <a href="/my-page" id="username" th:text="${username}"></a>
        <a href="/logout">로그아웃</a>
    </div>
</div>